* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


:root {
  --black: #000000;
  --blackLighter: #9e9e9e;
  --grayLight: #f5f5f5;
  --grayMedium: #e5e5e5;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
}

a { 
  color: inherit;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}